{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100 py-5">
    <div class="edit-profile-card text-center">
        <h1 class="card-title mb-3">¡Edita tu perfil!</h1>
        
        <form id="formEditarPerfil" method="POST" action="{% url 'guardar_perfil' %}">
            {% csrf_token %}

            <div class="form-group-custom mb-4 w-100">
                <label for="inputNombre" class="form-label-custom d-block mb-2">Nombre Completo</label>
                <input type="text" id="inputNombre" name="nombre" class="form-control-custom text-center w-100" value="{{ usuario.nombre }}">
            </div>

            <div class="form-group-custom mb-4 w-100">
                <label class="form-label-custom d-block mb-2">Número de celular</label>
                <input type="tel" id="inputTelefono" name="telefono" class="form-control-custom text-center w-100 phone-input" value="{{ usuario.numcelular }}" placeholder="Número">
            </div>

            <div class="form-group-custom mb-4">
                <label class="form-label-custom">Contraseña actual (Para confirmar cambios)</label>
                <input type="password" id="inputPasswordActual" name="password_actual" class="form-control-custom text-center w-100" placeholder="Contraseña actual" required>
            </div>

            <div class="form-group-custom mb-4">
                <label class="form-label-custom">Nueva contraseña (Dejar en blanco si no deseas cambiarla)</label>
                <input type="password" id="inputPasswordNueva" name="password_nueva" class="form-control-custom text-center w-100" placeholder="Nueva contraseña">
            </div>

            <button type="submit" class="btn btn-guardar-custom px-5 py-2 fw-bold">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}